
CREATE QUESTIONS

<div class="row">

	<h5 class='col-xs-12'>Add a Multiple Choice Questions:</h5>

	<div class='row'>
		<div class="col-xs-6">1. Select Options</div>
		<div class="col-xs-6">2. Add Question Text</div>
	</div>

</div>

<%= form_for @question do | question_fields | %>

		<%= question_fields.label :question %>
		<%= question_fields.text_field :question %>


    <%= question_fields.fields_for :options do |options_fields| %>

    <div class="row">
      <%= options_fields.label :option_text %>
      <%= options_fields.text_field :option_text %>
    </div>

	  <% end %>



<%= question_fields.submit %>

<% end %>





