<%= render  :partial => "/shared/survey_fields_form", survey: @survey %>

<div class="row">

	<h5 class='col-xs-12'>Add a Multiple Choice Question:</h5>

	<div class='row'>
		<div class="col-xs-6">1. Select Options</div>
		<div class="col-xs-6">2. Add Question Text</div>
	</div>

<%= form_for @question do | q_fields | %>

			<p>Is this required?</p>
			<div class="row form-group">
				<%= q_fields.radio_button :required, 'true', :checked => true %>
	 		  <%= q_fields.label :allow_multiple, 'Yes' %>
	 		  <%= q_fields.radio_button :required, 'false', :checked => false %>
	 		  <%= q_fields.label :allow_multiple, 'No' %>
			</div>
			<br />


    <%= q_fields.fields_for @mc_question do | mc_fields | %>


	<div class='row'>
		<p class="col-xs-12">How many options should the question have?</p>
	</div>

	 <%= mc_fields.select :num_options, options_for_select( [1,2,3,4,5] ) %>

	<p>How many options can be selected?</p>
			<div class="row form-group">
				<%= mc_fields.radio_button :multiple_allowed, 'true', :checked => true %>
	 		  <%= mc_fields.label :multiple_allowed, 'Multiple' %>
	 		  <%= mc_fields.radio_button :multiple_allowed, 'false', :checked => false %>
	 		  <%= mc_fields.label :multiple_allowed, 'Just One' %>

		  </div>



				<%= submit_tag :CreateQuestions %>

	 <% end %>


<% end %>
	</div>