<br />
		<%= form_for @question do | mc | %>

			<div class='row'>
				<p class="col-xs-2">
					<%= mc.label :question %>
				</p>
				<div class="col-xs-4">
					<%= mc.text_field :text, required: true %>
				</div>
		  </div>
				<%= mc.fields_for :options do | o_fields | %>


					<div class="row">
						<p class="col-xs-2">
							<%= o_fields.label :response %>
						</p>
						<p class="col-xs-4">
							<%= o_fields.text_field :option_text, required: true %>
						</p>
					</div>

			<% end %>

				<%= mc.submit :CreateQuestion, class: "col-xs-4 btn btn-primary" %>

		<% end %>


