<div class="row">

	<div class="form-group col-xs-6 col-xs-offset-2">

		<%= form_for @question do | mc | %>

			<div class='row'>
				<%= mc.label :text %>
				<%= mc.text_field :text, required: true %>
		  </div>
				<%= mc.fields_for :options do | o_fields | %>


					<div class="row">
						<%= o_fields.label :option_text %>
						<%= o_fields.text_field :option_text, required: true %>
					</div>

			<% end %>

				<%= mc.submit :CreateQuestion %>

		<% end %>


	</div>


</div>