

<div class="row">

	<h1 class="col-xs-6 center col-xs-offset-3 underline">Survey Taker</h1>


<%= render partial: "/shared/survey_title_description" %>

	<p class='col-xs-12 grayed-out center italic'>Questions marked with an * are required.</h5>

	<div class='row'>

		<% number = 0 %>



<%= form_for @survey, url: answers_path( :survey_id => @survey.id ) do  | survey_fields | %>


	<div class="row">
			<% @mcs.each do | mc | %>
				<% number += 1 %>
				<%= survey_fields.fields_for mc do | mc_fields | %>


					<% if mc.multiple_allowed %>

							<div class="row">
								<p class="col-xs-12 col-xs-offset-3"><%= required?( mc ) %><%= number %>.<%= mc_fields.label mc.text %>
								</p>
						  </div>


						  <div class="row">
						  		<div class="col-xs-6 col-xs-offset-3">
									<% mc.options.each do | opt | %>
										<%= label_tag :option, opt.option_text,  class: "label-checkbox"  %>
										<%= check_box_tag :"option[]", opt.id %>
									<% end %>
								</div>
							</div>



					<% else %> <!--if only one option do radio buttons -->

							<div class="row">
								<p class="col-xs-12 col-xs-offset-3"><%= required?( mc ) %><%= number %>.<%= mc_fields.label mc.text %>
								</p>
						  </div>

						  <% mc.options.each do | option | %>

						  	<p class='label-checkbox col-xs-6 col-xs-offset-3'><%= radio_button :option_mc_ids, option.question_id, option.id, required: mc.required %>&nbsp<%= option.option_text %></p>


						  <% end %>

					<% end %> <!--multiple allowed -->

				<% end %> <!-- form_for mc -->


			<% end %> <!-- @mcs.each -->

			<div class="row">
				<%= survey_fields.submit "Finish Survey", method: 'patch', class: "col-xs-4 col-xs-offset-4 btn btn-lg btn-primary" %>
			</div>

<% end %> <!-- Survey form_for -->

</div>



